
      .log-p{
          margin-top: 15px;
          text-align: center;
      }
      .info{
          display: inline-block;
      }
      .card-input{
          /* position: absolute;
          left: 0; */
          display: inline-block;
          margin-left: 5px;
      }
      
.card-body{
           margin: 25px 0 5px 6px;
}

.middle-img{
    height: 250px;
    width: 100%;
}
.main{
    display: flex;
}
.img-div{
    margin: 15px 0 0 45px ;
    left: 500px;
   
}
.success{
 
    margin:  0 5px 5px;
    width: 100%;
}
#qrCodeEl{
    margin: 40px 0 0px 550px;
}
/* #qrcode{
    margin: 45px 47px 0 540px;
} */
